@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
    font-size: 16px;
    font-family: "Inter", sans-serif !important;
    background-color: rgba(15, 23, 42);
}

.bold {
    font-weight: 400 !important;
    color: white;
}


.text-white .underline {
    border-bottom: 1px solid white !important;
    width: 30px;
}

.hove:hover .underline {
    width: 80px;
    transition: all 0.9s;
}

.hov:hover {
    font-size: 25px;
    cursor: pointer;
    transition: all 1s;
}

.bold:hover {
    color: aquamarine;
    cursor: pointer;
}

.text-gray {
    color: rgba(246, 241, 241, 0.785);
}

.borderradius {
    border: none;
    border-radius: 20px;
    font-size: 12px;
    padding: 5px;
    color: aquamarine;
    background-color: rgb(23, 50, 71);
}

.color {
    color: rgba(18, 250, 173, 0.96);
}

.hovbor:hover {
    background-color: rgba(30, 47, 65, 0.52) !important;
    transition: all 1s;
    cursor: pointer;
    color: aquamarine;
}

.cursor:hover {
    color: orange;
    cursor: pointer;
    transition: all 1s ease-out;
}

.posi {
    position: fixed;
}

@media(min-width:992px) {

    .cursor1 {
        padding-top: 250px !important;
    }
}

@media (max-width:992px) {
    .posi {
        background-color: rgba(15, 23, 42);
        width: 100%;
        top: -90px;
    }
    .hover{
        margin-top: 230px;
    }
}